{
  "root": true,
  "extends": [
    "airbnb-typescript/base"
  ],
  "env": {
    "mocha": true,
    "node": true
  },
  "plugins": ["import"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
